:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-vary-dark-blue: hsl(234, 12%, 34%);
    --neutral--grayish-blue: hsl(229, 6%, 66%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: var(--neutral-very-light-gray);
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;

}

.header {
    text-align: center;
    max-width: 500px;
    width: 100%;
    padding: 3rem 0;
}

.header__title {
    font-size: 24px;
    color: var(--neutral-vary-dark-blue);
    font-weight: 400;
}

.header__title--bold {
    font-weight: 600;
}

.header__description {
    color: var(--neutral--grayish-blue);
    margin-top: 10px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 2.5rem;
    margin: 10px;
    max-width: 360px;
    border-radius: 12px;
    position: relative;
    height: 250px;
    box-shadow: 0px 10px 25px -7px var(--neutral-vary-dark-blue);

}

.card--cyan {
    border-top: 7px solid var(--primary-cyan);
}

.card--orange {
    border-top: 7px solid var(--primary-orange);
}

.card--red {
    border-top: 7px solid var(--primary-red);
}

.card--blue {
    border-top: 7px solid var(--primary-blue);
}

.card__title {
    
}

.card__description {
    color: var(--neutral--grayish-blue);
}

.card__image {
    position: absolute;
    bottom: 30px;
    right: 30px;
}